@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');

/* Sidebar */

.sidebar {
    width: 20em;
    height: 100vh;
    background-color: #CE8147;
}

.sidebar .container{
    height: 38em;
}

.side-title h4{
    font-family: 'Praise';

    color: white;
}

.side-body ul li{
    margin: 20px 0px;
}

.side-body ul li a{
    color: rgba(255, 255, 255, 0.500);
}

.side-body ul li a:hover{
    color: white;
}

.active{
    color: white!important;
    padding: 10px 30px!important;

    border-radius: 20px;
    background: #000000;
}

.side-footer{
    margin-top: 125px;
}

.side-footer a{
    color: white;
    text-decoration: none;
}

/* Main Content */

.main-content{
    width: 100%;
}

.main-title{
    padding: 20px 0px;
    border-bottom: 1px solid black;
}