@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');

*{
    font-family: 'Quicksand';
    /* border: 1px solid black; */
}
/* Sidebar */

.sidebar {
    position: fixed;
    width: 15em;
    height: 200vh;
    background: #CE8147;
}

.sidebar .container{
    max-width: 15em;
}

.side-title h4{
    font-family: 'Praise';

    color: white;
}

.side-body ul li{
    margin: 20px 0px;
}

.side-body ul li a{
    color: rgba(255, 255, 255, 0.500);
}

.side-body ul li a:hover{
    color: white;
}

.active-side{
    color: white!important;
    padding: 10px 30px!important;

    border-radius: 20px;
    background: #df9b68;
}

.active{
    color: white!important;
    padding: 5px 13px!important;
    background-color: #CE8147;
    border: 1px solid #dee2e6;
}

.active-pagi{
    display: block;
    border: 1px solid #dee2e6;
}

.side-footer{
    margin-top: 125px;
}

.side-footer a{
    color: white;
    text-decoration: none;
}

/* Main Content */

.main-content{
    position: relative;
    width: 80%;
    left: 20%;
}

.main-title{
    padding: 20px 0px;
    border-bottom: 1px solid black;
}

.dropdown button{
    margin-right: 20px;
    border-radius: 20px;
    border: 1px solid black;
}

button:hover{
    background-color: #CE8147;
    color: white!important;
}

.dropdown button:focus{
    box-shadow: none!important;
}

.filter button{
    border-radius: 20px;
    border: 1px solid black;
}

.filter button:focus{
    box-shadow: none!important;
}

.controller-button a{
    border: 1px solid black;
    border-radius: 20px;
    margin: 0px 5px;
}

.control{
    width: 40%;
}

.trash{
    margin-left: 20px;
    color: rgb(138, 31, 31);
}

/* Tambah Menu */

.modal-content{
    border-radius: 25px!important;
}

.modal-body input{
    border-radius: 10px;
}

.modal-footer button{
    border: 1px solid black;
    border-radius: 15px;    
}
