@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');

*{
    font-family: 'Quicksand';
}

/* Heroes Header */
.heroes-header > .container{
    margin-top: 50px;
}

.heroes-header .left-side .rect-1{
    width: 10px;
    height: 200px;
    margin-top: 100px;

    background-color: #CE8147;
}

.heroes-header .center-side{
    margin-top: 200px;
    margin-left: -75px;
}

.heroes-header .center-side h1{
    font-family: 'Praise';
    font-size: 52px;
}

.heroes-header .center-side p{
    font-size: 12px;
}

.heroes-header .right-side .rect-1{
    width: 13em;
    height: 35em;

    background-color: #CE8147;
}

.heroes-header h2{
    position: relative;
    font-family: 'Praise';
    left: -155px;
    margin-top: 275px;
    width: 15em;
    color: white;
    transform: rotate(90deg);
}

/* Heroes Content */

.heroes-content{
    margin-top: 100px;
}

.heroes-content .left-side h2{
    font-family: 'Praise';
}

.heroes-content .left-side p{
    width: 375px;
    text-align: justify;
}

.heroes-content .left-side a{
    padding: 5px 35px;
    color: white;
    background-color: #A66A3D;
}

.heroes-content .right-side .rect-1{
    width: 100px;
    height: 5px;

    background-color: #CE8147;
}

.heroes-content .right-side .rect-2{
    width: 10px;
    height: 5px;

    background-color: #CE8147;
}

.heroes-content .right-side .photo{
    width: 519px;
    height: 278px;

    background-image: url('/assets/image/photo-homepage.jpg');
    background-size: cover;
    border-radius: 10px;
}

.heroes-content-2{
    margin-top: 100px;
}

.heroes-content-2 .left-side .photo{
    width: 250px;
    height: 350px;

    border-radius: 20px;
    background-image: url('/assets/image/latte-art.jpg');
    background-size: cover;
}

.heroes-content-2 .right-side h2{
    font-family: 'Praise';
}

.heroes-content-2 .right-side p{
    width: 375px;
    text-align: justify;
}

.heroes-content-2 .right-side a{
    padding: 5px 35px;
    color: white;
    background-color: #A66A3D;
}

/* Best Menu */

.best-menu{
    margin-top: 100px;
}

.best-menu .menu-header{
    width: 30%;
}

.best-menu .menu-header p{
    position: relative;
    top: 20px;
}

.best-menu .menu-header h2{
    font-family: 'Praise';
}

.menu-body .card{
    width: 20em;

    border: none;
    border-radius: 20px;
    box-shadow: 3px 5px 25px rgba(0, 0, 0, 0.25);
}

.menu-body .photo-1{
    height: 25em;

    background-image: url('/assets/image/vietnam-drip.jpg');
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}

.menu-body .photo-2{
    height: 25em;

    background-image: url('/assets/image/matcha-latte.jpg');
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}

.menu-body .photo-3{
    height: 25em;

    background-image: url('/assets/image/wedhang-uwuh.jpg');
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}

.menu-body .menu-title{
    margin-right: 110px;
}

.menu-body .logo{
    width: 75px;
    height: 75px;

    border-radius: 0px 0px 20px 00px ;
    background-color: #C5864B;
}

.menu-body .logo h1{
    font-family: 'Praise';
    color: white;
}

.menu-body .logo h1 span{
    font-size: 28px;
    font-family: 'Praise';
}

/* Informasi */

.heroes-content-inform .informs-1 .left-side .photo-1{
    width: 20em;
    height: 20em;

    background-color: grey;
}

.heroes-content-inform .informs-1 .right-side p{
    text-align: justify;
}

.heroes-content-inform .informs-2 .left-side p{
    text-align: justify;
}

.heroes-content-inform .informs-2 .left-side a{
    padding: 5px 35px;
    color: white;
    background-color: #A66A3D;
}

.heroes-content-inform .informs-2 .right-side .photo-1{
    width: 20em;
    height: 20em;

    background-color: grey;
}
/* Off Canvas */

.offcanvas{
    width: 17em!important;
}

.offcanvas-header h5{
    font-family: 'Praise';
}

.offcanvas ul li{
    margin: 10px 0px;
}

.offcanvas ul li a{
    border-radius: 10px;
}

.offcanvas .active{
    color: white!important;

    transition: ease-in-out 0.25s;
    padding: 5px 35px!important;
    border-radius: 10px;
    background-color: #A66A3D;
}

.offcanvas .active:hover, .active:after{
    color: white!important;
}
/* Footer */

footer{
    margin-top: 100px;
    background-color: #A66A3D;
}

footer .footer-body{
    color: white;
}

footer .col{
    margin-top: 20px;
}

footer .col a{
    color: white;
    text-decoration: none;
}

footer .quotes{
    color: white;

    text-align: center;
    font-size: 32px;
}

footer .quotes span{
    text-transform: uppercase;
    font-weight: bold;
}